@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

.container__grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "main"
        "footer";
}

/*Inicio header*/
.header {
    grid-area: header;
    background-color: lightseagreen;
}

.header__logo {
    gap: 20px;
    padding-left: 2%;
}

.header__logo__imagen {
    width: 130px;
    height: 130px;
    border-radius: 100px;
}

.header__logo__titulo {
    text-transform: uppercase;
    font-size: 2.6rem;
    color: white;
}

.header__nav {
    justify-content: flex-end;
    padding-right: 2%;
    align-items: center;
}

nav ul li a {
    font-size: 1.3rem;
}

.navbar-toggler {
    margin-right: 2%;
}

/*Fin header*/

.main {
    grid-area: main;
}

/*Inicio carrusel de productos*/
.contenedor__carrusel {
    background-color: #F2BDE0;
    margin-top: 40px;
}

.carrusel__productos {
    padding-top: 1%;
}

/*Fin carrusel de productos*/

/*Descripcion de los productos y empresa*/
.descripcion {
    margin-top: 40px;
    padding: 2% 0%;
    overflow-x: hidden;
}

.descripcion__texto {
    background-color: #FAEAD3;
    text-align: justify;
    padding: 0% 1%;
}

.descripcion__titulo__link {
    text-decoration: none;
    color: black;
}

/*Modificativos*/
.fondo__productos {
    background-image: url(../imagenes/fondonoquis.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.fondo__empresa {
    background-image: url(../imagenes/fondoempresa2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.descripcion__imagen__empresa {
    width: 100%;
    height: 100%;
}

.descripcion__imagen__productos {
    width: 100%;
    height: 100%;
}

/*Fin descripcion de los productos y empresa*/

/*inicio footer*/
.footer {
    grid-area: footer;
    background-color: lightseagreen;
    margin-top: 40px;
    padding: 1% 0%;
    flex-direction: column;
}

.footer__imagen__imagen {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.footer__datos {
    margin-top: 0.6%;
}

.footer__datos__p {
    font-size: 1.2rem;
}

.icono {
    font-size: 1.6rem;
}

/*Fin de footer*/
/*Inicio pagina empresa*/
.pagEmpresa__titulo {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: 430px;
    font-size: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-left: 0px;
    border-right: 0px;

}

.pagEmpresa__imagen {
    display: inline-block;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: 200px;
}

.pagEmpresa__imagen__img {
    height: 600px;
    width: 950px;
}

.pagEmpresa__parrafo {
    display: inline-block;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 18px;
}

.pagEmpresa__enlace {
    display: inline-block;
    margin-top: 50px;
    margin-left: 380px;
    overflow: hidden;

}

.pagEmpresa__enlace__button {
    float: left;
    margin-left: 50px;
    font-size: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 5px;
}

/*Fin pagina empresa*/
/*Inicio pagina recetas*/
.pagRecetas__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-left: 0px;
    border-right: 0px;
}

.pagRecetas1 {
    display: flex;
    flex-direction: row;
    background-color: #F2BDE0;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 40px;
}

.pagRecetas__receta1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

.pagRecetas__texto {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    text-align: justify;
    padding: 0% 2%;
    color: black;
    font-size: 1rem;
}

.pagRecetas2__texto__titulo {
    font-size: 1.6rem;
    align-items: flex-start;
}

.pagRecetas__texto__link {
    text-decoration: none;
    color: black;
    padding-top: 2%;
}

.pagRecetas__receta1__imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pagRecetas__imagen {
    height: 300px;
    width: 300px;
}

.pagRecetas2 {
    display: inline-block;
    margin-top: 60px;
    background-color: #A7EFF1;
    width: 100%;
    overflow: hidden;
}

.pagRecetas__receta2 {
    margin: 10px;
    padding: 10px;
    float: left;
}

.pagRecetas2__imagen {
    height: 300px;
    width: 300px;
    margin-left: 40px;
}

.pagRecetas2__texto {
    height: auto;
    width: 880px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

/*Fin pagina empresa*/
/*Inicio pagina contacto*/
.contacto {
    display: inline-block;
    background-color: #F2BDE0;
    width: 800px;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 270px;
}

.contacto__div {
    margin: 10px;
    padding: 10px;
    float: left;
}

.contacto__div__imagen {
    height: 400px;
    width: 400px;
}

.contacto__div__formulario {
    height: 400px;
    text-align: justify;
}

.contacto__div--titulo {
    font-size: 18px;
    padding-left: 50px;
    color: black;
}

.contacto__div__formulario__espacio {
    padding-top: 15px;

}

.contacto__div__formulario__espacio__input {
    width: 100%;
    border: 2px solid;
    height: 35px;
    background-color: white;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #f82595;
}

.contacto__div__formulario__espacio__input--mensaje {
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
    width: 100%;
    border: 2px solid #f82595;
    background-color: white;
    font-size: 18px;
}

.contacto__div__formulario__espacio--info {
    display: inline-block;
}

.contacto__div__formulario__espacio--enviar {
    width: 100%;
    height: 30px;
    border: 2px solid #f82595;
    background-color: white;
    font-size: 18px;
}

.mapa {
    display: inline-block;
    margin-top: 50px
}

.mapa__diseño {
    margin-left: 270px;
    border: 2px solid #f82595;
    width: 800px;
    height: 400px;
}

/*Fin pagina contacto*/
/*Inicio pagina productos*/
.pastasTitulo {
    display: inline-block;
    width: 100%;
    height: 100px;
    margin-top: 50px;
    text-align: left;
    background-color: #F2BDE0;
}

.pastasTitulo__h2 {
    padding-left: 55px;
    padding-top: 10px;
    font-size: 70px;
}

.pastasProductos {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    padding-left: 50px;
}

.pastasProductos__x {
    margin: 10px;
    padding: 10px;
    float: left;
    background-color: #F2BDE0;
    border: 2px solid #f82595;
    height: 500px;
    width: 324px;
    text-align: center;
}

.pastasProductos__x__imagenes {
    width: 300px;
    height: 300px;
}

.pastasProductos__titulo__producto {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

.pastasProductos__texto__producto {
    font-size: 15px;
    padding-top: 10px;
}

.pastasProductos__precio__producto {
    padding-top: 10px;
    font-size: 20px;
    color: black;
}

/*Fin pagina productos*/
/*media cueris*/
@media screen and (min-width: 0px) and (max-width: 767px) {

    .header__logo {
        gap: 10px;
        padding-left: 1%;
    }

    .header__logo__imagen {
        width: 80px;
        height: 80px;
    }

    .header__logo__titulo {
        font-size: 1.6rem;
    }

    nav ul li a {
        font-size: 1rem;
    }

    /*inicio carrusel*/
    .contenedor__carrusel {
        margin-top: 20px;
        display: none;
    }

    .carrusel__productos__imagen {
        width: 50px;
        height: 50px;
    }

    .carrusel__productos__titulo {
        font-size: 10px;
    }
    /*fin carrusel*/
    
    /*inicio productos y empresa*/
    .descripcion {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .descripcion__imagen__empresa {
        margin-bottom: 2%;
    }

    .descripcion__imagen__productos {
        margin-top: 2%;
    }
    /*fin productos y empresa*/
    
    /*inicio footer*/
    .footer {
        flex-direction: row;
        margin-top: 20px;
        padding: 2%;
    }
    .footer__imagen__imagen {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .footer__datos {
        margin-top: 0%;
    }
    
    .footer__datos__p {
        font-size: 1rem;
    }
    
    .icono {
        font-size: 1rem;
    }
    /*fin footer*/
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /*inicio header*/
    .header__logo {
        justify-content: center;
        margin-left: 2%;
    }

    .header__logo__titulo {
        text-align: center;
    }

    .header__nav {
        gap: 5px;
        margin-right: 2%;
    }

    .header__nav__ul__li a {
        padding-left: 15px;
        font-size: 1.3rem;
    }

    /*inicio carrusel*/
    .carrusel__productos__imagen__enlace {
        width: 120px;
        height: 120px;
        margin: 3% 0%;
    }

    /*inicio productos*/
    .productos__descripcion__link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2%;
    }

    .productos__descripcion__titulo {
        margin-top: 2%;
        font-size: 2rem;
    }

    .productos__descripcion__texto {
        font-size: 1.2rem;
    }

    /*inicio empresa*/
    .empresa__descripcion__link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2%;
    }

    .empresa__descripcion__titulo {
        margin-top: 2%;
        font-size: 2rem;
    }

    .empresa__descripcion__texto {
        font-size: 1.2rem;
    }

    /*inicio footer*/
    .footer__datos {
        width: 100%;
    }

    .footer__imagen__imagen {
        height: 120px;
        width: 120px;
    }

    .footer__datos__p {
        font-size: 1.3rem;
    }

    .icono {
        font-size: 1.8rem;
    }
}