@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
/* Variables */
/*Maps*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif; }

.container__grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer"; }

.main {
  grid-area: main; }

/*Inicio header*/
.header {
  grid-area: header;
  background-color: lightseagreen; }
  .header .header__logo {
    gap: 20px;
    padding-left: 2%; }
    .header .header__logo .header__logo__imagen {
      width: 130px;
      height: 130px;
      border-radius: 100px; }
    .header .header__logo .header__logo__titulo {
      text-transform: uppercase;
      font-size: 2.6rem;
      color: white; }
    .header .header__logo .navbar-toggler {
      margin-right: 2%; }

.header__nav {
  padding-right: 2%;
  align-items: center;
  justify-content: flex-end; }
  .header__nav ul li a {
    font-size: 1.3rem; }

/*Fin header*/
/*inicio footer*/
.footer {
  grid-area: footer;
  background-color: lightseagreen;
  margin-top: 2%;
  flex-direction: column;
  justify-content: center; }
  .footer .footer__imagen {
    padding-top: 1%; }
    .footer .footer__imagen .footer__imagen__imagen {
      height: 100px;
      width: 100px;
      border-radius: 50%; }
  .footer .footer__datos {
    margin-top: 0.6%; }
    .footer .footer__datos .footer__datos__p {
      font-size: 1.2rem; }
    .footer .footer__datos .icono {
      font-size: 1.6rem; }

/*Fin de footer*/
/*Inicio carrusel de productos*/
.contenedor__carrusel {
  background-color: #F2BDE0;
  margin-top: 2%; }
  .contenedor__carrusel .carrusel__productos {
    padding-top: 1%; }
    .contenedor__carrusel .carrusel__productos .carrusel__productos__imagen {
      width: 170px;
      height: 170px; }

/*Fin carrusel de productos*/
/*Descripcion de los productos y empresa*/
.descripcion {
  margin-top: 2%;
  padding: 2% 0%;
  overflow-x: hidden; }

.fondo__productos, .fondo__empresa {
  background-image: url(../imagenes/fondonoquis.jpg);
  background-size: cover;
  background-attachment: fixed; }

.fondo__empresa {
  background-image: url(../imagenes/fondoempresa2.jpg); }

.descripcion__texto {
  background-color: #FAEAD3;
  text-align: justify;
  padding: 0% 1%; }
  .descripcion__texto .descripcion__titulo__link {
    text-decoration: none;
    color: black; }

.descripcion__imagen__productos, .descripcion__imagen__empresa, .receta__imagen {
  width: 100%;
  height: 100%; }

/*Fin descripcion de los productos y empresa*/
.prueba {
  height: 400px;
  width: 100%;
  background-color: black;
  margin-top: 2%;
  display: none; }

/*Inicio pagina productos*/
.pastasTitulo__contenedor__pastas, .h1empresa__contenedor, .h1receta__contenedor {
  background-color: #F2BDE0;
  margin-top: 2%; }

.pastasTitulo__contenedor__antojosDulces {
  background-color: #F2BDE0; }

.pastasTitulo__h2, .h1empresa__titulo, .h1receta__titulo {
  display: flex;
  justify-content: center;
  font-size: 70px; }

.contenedor__productos {
  margin-top: 2%; }
  .contenedor__productos .contenedor__productos__productos {
    margin-bottom: 2%; }

/*Fin pagina productos*/
/*Inicio pagina empresa*/
.empresa {
  margin-top: 2%; }
  .empresa .empresa__imagen {
    width: 70%;
    height: auto; }
  .empresa .empresa__texto {
    width: 70%;
    text-align: justify; }

.empresa__enlaces {
  width: 70%;
  margin-top: 0.5%; }
  .empresa__enlaces .empresa__enlaces__texto {
    font-size: 1.1rem; }

/*Fin pagina empresa*/
/*Inicio pagina recetas*/
.receta1, .receta2 {
  background-color: #F2BDE0;
  margin-top: 2%; }

.receta2 {
  background-color: #9FE9EA; }

.receta__texto {
  text-align: justify;
  padding: 1%; }
  .receta__texto .receta__texto__texto {
    display: flex;
    flex-direction: column; }
    .receta__texto .receta__texto__texto .receta__texto__texto__link {
      text-decoration: none;
      color: black;
      padding-top: 1%; }

/*Fin pagina empresa*/
/*Inicio pagina contacto*/
.contenedor__contacto {
  margin-top: 2%; }
  .contenedor__contacto .contacto {
    background-color: #F2BDE0;
    width: 70%; }
    .contenedor__contacto .contacto .contacto__imagen {
      width: 50%; }
      .contenedor__contacto .contacto .contacto__imagen .contacto__imagen__imagen {
        width: 100%; }
    .contenedor__contacto .contacto .contacto__div {
      width: 50%; }
      .contenedor__contacto .contacto .contacto__div .contacto__div__formulario {
        width: 100%;
        height: 100%;
        max-height: 100%;
        text-align: justify; }
        .contenedor__contacto .contacto .contacto__div .contacto__div__formulario .contacto__div__formulario__titulo {
          color: black; }
        .contenedor__contacto .contacto .contacto__div .contacto__div__formulario .contacto__div__formulario__contenedor {
          width: 80%; }
          .contenedor__contacto .contacto .contacto__div .contacto__div__formulario .contacto__div__formulario__contenedor .contacto__div__formulario__contenedor__input, .contenedor__contacto .contacto .contacto__div .contacto__div__formulario .contacto__div__formulario__contenedor .contacto__div__formulario__contenedor__input--mensaje {
            width: 100%;
            height: auto;
            background-color: white;
            font-size: 1.1rem;
            border: 2px solid #f82595; }
          .contenedor__contacto .contacto .contacto__div .contacto__div__formulario .contacto__div__formulario__contenedor .contacto__div__formulario__contenedor__input--mensaje {
            height: 100px;
            max-height: 130px; }
          .contenedor__contacto .contacto .contacto__div .contacto__div__formulario .contacto__div__formulario__contenedor .contacto__div__formulario__contenedor__info {
            font-size: 1rem; }

.mapa {
  margin-top: 2%; }
  .mapa .mapa__diseño {
    border: 2px solid #f82595;
    width: 70%;
    height: 400px; }

/*Fin pagina contacto*/
/*MEDIA CUERIS*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  /*inicio Header*/
  .header .header__logo {
    gap: 15px;
    padding-left: 1%; }
    .header .header__logo .header__logo__imagen {
      width: 80px;
      height: 80px; }
    .header .header__logo .header__logo__titulo {
      font-size: 1.6rem; }
  .header .navbar-toggler {
    margin-right: 1%; }
  .header__nav ul li a {
    font-size: 1rem; }
  /*Fin header*/
  /*inicio carrusel*/
  .contenedor__carrusel {
    margin-top: 20px;
    display: none; }
    .contenedor__carrusel .carrusel__productos .carrusel__productos__imagen {
      width: 50px;
      height: 50px; }
    .contenedor__carrusel .carrusel__productos .carrusel__productos__titulo {
      font-size: 10px; }
  /*fin carrusel*/
  /*inicio productos y empresa*/
  .descripcion {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-left: 2%;
    padding-right: 2%; }
    .descripcion .descripcion__imagen__productos, .descripcion .descripcion__imagen__empresa, .descripcion .receta__imagen {
      padding-top: 2%; }
    .descripcion .descripcion__imagen__empresa {
      padding-bottom: 2%;
      padding-top: 0%; }
  /*fin productos y empresa*/
  /*inicio footer*/
  .footer {
    display: none;
    flex-direction: row;
    margin-top: 20px;
    padding: 2%;
    justify-content: space-evenly; }
    .footer .footer__imagen .footer__imagen__imagen {
      height: 80px;
      width: 80px;
      border-radius: 50%; }
    .footer .footer__datos {
      margin-top: 0%;
      flex-direction: column;
      align-items: flex-start; }
      .footer .footer__datos .footer__datos__p {
        font-size: 1rem; }
      .footer .footer__datos .icono {
        font-size: 1rem; }
  /*fin footer*/
  /*Inicio pagina productos*/
  .pastasTitulo__contenedor__pastas, .h1empresa__contenedor, .h1receta__contenedor {
    margin-top: 20px; }
  .pastasTitulo__h2, .h1empresa__titulo, .h1receta__titulo {
    display: flex;
    justify-content: center;
    padding-left: 0%;
    font-size: 40px; }
  .contenedor__productos {
    margin-top: 20px; }
    .contenedor__productos .contenedor__productos__productos {
      margin-bottom: 20px; }
  /*Fin pagina productos*/
  /*Inicio pagina Recetas*/
  .receta1, .receta2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-left: 2%;
    padding-right: 2%; }
  .receta__imagen {
    padding-top: 2%;
    padding-bottom: 2%; }
  /*Fin pagina Recetas*/
  /*Inicio pagina Empresa*/
  .h1empresa__contenedor .h1empresa__titulo {
    display: flex;
    justify-content: center;
    padding-left: 0%;
    font-size: 38px; }
  .empresa {
    margin-top: 20px; }
    .empresa .empresa__imagen {
      width: 90%;
      height: auto; }
    .empresa .empresa__texto {
      width: 90%;
      text-align: justify; }
  .empresa__enlaces {
    flex-direction: column;
    margin-top: 0%; }
    .empresa__enlaces .empresa__enlaces__boton {
      padding-top: 4%; }
      .empresa__enlaces .empresa__enlaces__boton .empresa__enlaces__texto {
        font-size: 1.1rem; }
  /*Fin pagina Empresa*/
  /*Inicio pagina Contacto*/
  .contenedor__contacto {
    margin-top: 20px; }
    .contenedor__contacto .contacto {
      width: 90%;
      flex-direction: column;
      justify-content: center; }
      .contenedor__contacto .contacto .contacto__imagen {
        width: 100%; }
      .contenedor__contacto .contacto .contacto__div {
        width: 100%; }
        .contenedor__contacto .contacto .contacto__div .contacto__div__formulario {
          padding: 2%;
          justify-content: center; }
          .contenedor__contacto .contacto .contacto__div .contacto__div__formulario div {
            padding: 1% 0%; }
  .mapa {
    margin-top: 20px; }
    .mapa .mapa__diseño {
      width: 90%;
      height: 200px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*inicio header*/
  .header .header__logo {
    gap: 20px;
    padding-left: 2%; }
    .header .header__logo .header__logo__imagen {
      width: 120px;
      height: 120px;
      border-radius: 100px; }
    .header .header__logo .header__logo__titulo {
      font-size: 2.3rem; }
  .header .navbar-toggler {
    margin-right: 2%; }
  .header__nav ul li a {
    font-size: 1.2rem; }
  /*Fin Header*/
  /*inicio carrusel*/
  .contenedor__carrusel {
    margin-top: 20px; }
    .contenedor__carrusel .carrusel__productos .carrusel__productos__imagen {
      width: 125px;
      height: 125px; }
    .contenedor__carrusel .carrusel__productos .carrusel__productos__titulo {
      font-size: 1.1rem; }
  /*Fin Carrusel*/
  /*inicio productos y empresa*/
  .descripcion {
    margin-top: 20px;
    padding: 2%; }
    .descripcion .descripcion__imagen__productos, .descripcion .descripcion__imagen__empresa, .descripcion .receta__imagen {
      display: none; }
    .descripcion .descripcion__imagen__empresa {
      display: none; }
  /*Fin productos y empresa*/
  /*inicio footer*/
  .footer {
    margin-top: 20px;
    display: none; }
    .footer .footer__imagen .footer__imagen__imagen {
      height: 100px;
      width: 100px; }
    .footer .footer__datos .footer__datos__p {
      font-size: 1rem; }
    .footer .footer__datos .icono {
      font-size: 1.3rem; }
  /*Fin footer*/
  /*Inicio pagina productos*/
  .pastasTitulo__h2, .h1empresa__titulo, .h1receta__titulo {
    display: flex;
    justify-content: center;
    padding-left: 0%;
    font-size: 60px; }
  /*Fin pagina productos*/
  /*Inicio pagina Empresa*/
  .empresa .empresa__imagen {
    width: 90%; }
  .empresa .empresa__texto {
    width: 90%; }
  /*Fin pagina empresa*/
  /*Inicio pagina Contacto*/
  .contenedor__contacto .contacto {
    width: 90%; }
  .mapa .mapa__diseño {
    width: 90%;
    height: 350px; }
  /*Fin pagina contacto*/ }
