/*Inicio pagina empresa*/
.h1empresa__contenedor{
    @extend .pastasTitulo__contenedor__pastas
}
    .h1empresa__titulo{
     @extend .pastasTitulo__h2;
    }

.empresa{
    margin-top: 2%;

    .empresa__imagen{
     width: 70%;
     height: auto;
    }

    .empresa__texto{
     width: 70%;
     text-align: justify;
    }
}

.empresa__enlaces{
    width: 70%;
    margin-top: 0.5%;
    
    .empresa__enlaces__texto{
      font-size: 1.1rem;
    }
}
/*Fin pagina empresa*/