/*Inicio header*/
.header {
    grid-area: header;
    background-color: $color-verdeazul;

    .header__logo {
      gap: 20px;
      padding-left: 2%;
    
       .header__logo__imagen {
         width: 130px;
         height: 130px;
         border-radius: 100px;
        }
        .header__logo__titulo {
         text-transform: uppercase;
         font-size: 2.6rem;
         color: white;
        }
        .navbar-toggler {
            margin-right: 2%;
        }
    }    
}
.header__nav {
    @include flexend-right-center;

    nav ul li a {
     font-size: 1.3rem;
    }
}     
/*Fin header*/