/*Inicio carrusel de productos*/
.contenedor__carrusel{
    background-color:#F2BDE0;
    margin-top: 2%;

    .multiple-items{
        max-width: 1200px;
        width: 100%;
        margin: auto;
        padding: 1%;
        .slide{
           .imagen__carrusel{
               width:  98%;
               height: 98%;
           }
        }
    }
}
/*Fin carrusel de productos*/

/*Inicio fotos producto y empresa mediaqueris 768-1024*/
.contenedor__MQ{
    display: none;
    .contenedor__fotosMQ{
        display: none;
        .foto__MQ{
            display: none;
            .foto__imagen__MQ{
                display: none;
            }
        }
    }
}
/*Fin fotos producto y empresa mediaqueris 768-1024*/

/*Descripcion de los productos y empresa*/
.contenedor__descripcion{
    margin-top: 2%;
    
    .descripcion {
        overflow-x: hidden;
        width: 88%;

    
        .descripcion__texto__productos {
            text-align: justify;
            justify-content: center;
            padding: 0% 1%;
            width: 68%;
        }
        .descripcion__texto__empresa{
            @extend .descripcion__texto__productos;
        }
        
            .descripcion__titulo__link {
                 text-decoration: none;
                 color: black;
                 width: 100%;
                 background-color: #F2BDE0;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 margin-bottom: 1%;
            }
        
        .descripcion__imagen{
            width: 30%;

            .descripcion__imagen__imagen {
                width: 100%;
                height: 100%;
            }   

        }
    }
}
   

/*Fin descripcion de los productos y empresa*/
