/*Inicio carrusel de productos*/
.contenedor__carrusel{
    background-color:#F2BDE0;
    margin-top: 2%;

    .multiple-items{
        max-width: 1200px;
        width: 100%;
        margin: auto;
        padding: 1%;
        .slide{
           .imagen__carrusel{
               width:  98%;
               height: 98%;
           }
        }
    }
}
/*Fin carrusel de productos*/

/*Descripcion de los productos y empresa*/
.descripcion {
    margin-top: 2%;
    padding: 2% 0%;
    overflow-x: hidden;
}
.fondo__productos {
    background-image: url(../imagenes/fondonoquis.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.fondo__empresa {
    @extend .fondo__productos;
    background-image: url(../imagenes/fondoempresa2.jpg);
}
    .descripcion__texto {
        background-color: #FAEAD3;
        text-align: justify;
        padding: 0% 1%;
    
        .descripcion__titulo__link {
             text-decoration: none;
             color: black;
        }
    }

    .descripcion__imagen__productos {
        width: 100%;
        height: 100%;
    }   
    .descripcion__imagen__empresa {
        @extend .descripcion__imagen__productos
    } 
   

/*Fin descripcion de los productos y empresa*/

.prueba{
    height: 400px;
    width: 100%;
    background-color: black;
    margin-top: 2%;
    display: none;
}