/*MEDIA CUERIS*/
@media screen and (min-width: 0px) and (max-width: 767px) {

    /*inicio Header*/
    .header__logo {
        gap: 10px;
        padding-left: 1%;
    }

    .header__logo__imagen {
        width: 80px;
        height: 80px;
    }

    .header__logo__titulo {
        font-size: 1.6rem;
    }

    nav ul li a {
        font-size: 1rem;
    }

    /*Fin header*/

    /*inicio carrusel*/
    .contenedor__carrusel {
        margin-top: 20px;
        display: none;
    }

    .carrusel__productos__imagen {
        width: 50px;
        height: 50px;
    }

    .carrusel__productos__titulo {
        font-size: 10px;
    }

    /*fin carrusel*/

    /*inicio productos y empresa*/
    .descripcion {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .descripcion__imagen__productos {
        padding-top: 2%;
    }

    .descripcion__imagen__empresa {
        padding-bottom: 2%;
    }

    /*fin productos y empresa*/

    /*inicio footer*/
    .footer {
        flex-direction: row;
        margin-top: 20px;
        padding: 2%;
        justify-content: space-evenly;
    }

    .footer__imagen__imagen {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .footer__datos {
        margin-top: 0%;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__datos__p {
        font-size: 1rem;
    }

    .icono {
        font-size: 1rem;
    }

    /*fin footer*/

    /*Inicio pagina productos*/
    
    .pastasTitulo__contenedor__pastas{
        margin-top: 20px;
    }
    
    .pastasTitulo__h2{
        display: flex;
        justify-content: center;
        padding-left: 0%;
        font-size: 40px;
    }
    
    .contenedor__productos{
        margin-top: 20px;
    }
    .contenedor__productos__productos{
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /*inicio header*/
    .header__logo {
        gap: 20px;
        padding-left: 2%;
    }

    .header__logo__imagen {
        width: 120px;
        height: 120px;
        border-radius: 100px;
    }

    .header__logo__titulo {
        font-size: 2.3rem;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    /*Fin Header*/

    /*inicio carrusel*/
    .contenedor__carrusel {
        margin-top: 20px;
    }

    .carrusel__productos__imagen {
        width: 125px;
        height: 125px;
    }

    .carrusel__productos__titulo {
        font-size: 1.1rem;
    }

    /*Fin Carrusel*/

    /*inicio productos y empresa*/
    .descripcion {
        margin-top: 20px;
    }

    /*Fin productos y empresa*/

    /*inicio footer*/
    .footer {
        margin-top: 20px;
    }

    .footer__imagen__imagen {
        height: 100px;
        width: 100px;
    }

    .footer__datos__p {
        font-size: 1rem;
    }

    .icono {
        font-size: 1.3rem;
    }

    /*Fin footer*/
}