/*Inicio pagina productos*/
.pastasTitulo__contenedor__pastas{
    background-color: $color-rosado;
    margin-top: 2%;
}
.pastasTitulo__contenedor__antojosDulces{
    background-color: $color-rosado;
}
    .pastasTitulo__h2 {
     display: flex;
     justify-content: center;
     font-size: 70px;
    }
.contenedor__productos{
    margin-top: 2%;
    .contenedor__productos__productos{
     margin-bottom: 2%;
    }
}

/*Fin pagina productos*/