/*Inicio pagina recetas*/
.h1receta__contenedor{
    @extend .pastasTitulo__contenedor__pastas
}
.h1receta__titulo{
    @extend .pastasTitulo__h2
}

.contenedor__receta{
    margin-top: 2%;

    .receta{
        overflow-x: hidden;
        width: 90%;
        

        .receta1__texto{
            text-align: justify;
            justify-content: center;
            padding: 0% 1%;
            width: 69%;
        }
        .receta2__texto{
            @extend .receta1__texto;
            width: 65%;
        }
            .receta__texto__titulo{
                width: 100%;
                background-color: #F2BDE0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .receta__texto__texto {
             display: flex;
             flex-direction: column;
       
                .receta__texto__texto__link {
                 text-decoration: none;
                 color: black;
                 padding-top: 1%;
                }
            }


        .receta1__imagen{
            width: 31%;
        }
        .receta2__imagen{
            width: 35%;
        }
    
            .receta__imagen__imagen {
                width: 100%;
                height: 100%;
            }   
        
    }
}

/*Inicio fotos recetas mediaqueris 768-1024*/
.contenedorReceta__MQ{
    display: none;
    .contenedorReceta__fotosMQ{
        display: none;
        .fotoReceta__MQ{
            display: none;
            .fotoReceta__imagen__MQ{
                display: none;
            }
        }
    }
}
/*Fin fotos recetas mediaqueris 768-1024*/

/*Fin pagina empresa*/