@import "_fonts.scss";
@import "_variables";
@import "_mixins";
@import "_reset";
@import "_header";
@import "_footer";
@import "_index";
@import "_productos";
@import "_empresa";
@import "_recetas";
@import "_contacto";
@import "_mediaQueris";




.container__grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "main"
        "footer";
}

.main {
    grid-area: main;
}
